<div class = "Top">
  <header class="navbar navbar-fixed-top">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "MiRecについて", about_path, :style=>"color:white;" %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "管理者", 'http://www.hirotsuru.sakura.ne.jp/portfolio/index.html', target: "_blank", :style=>"color:white;" %></li>
      </ul>
    </nav>
    <div class = "center_top">
    <h1>MiRec</h1>
    <%= link_to "はてなアカウントでログイン", '/auth/hatena', class: "btn btn-lg btn-primary" %>
    </div>  
  </header>
  
</div>
